
.transaction-title {
  background-color: #f1f5f6;
  border-top: 1px solid #e9eff0;
  border-bottom: 1px solid #e9eff0;
}

.transaction-item {
  border-bottom: 1px solid #e9eff0;
}

.transaction-item:hover {
  background-color: #f4f7f8;
  cursor: pointer;
}

.transaction-details {
  max-width: 620px !important;
}

.transaction-details .modal-content {
  border: none !important;
}

.transaction-details .modal-body {
  padding: 0px !important;
}